<a href="https://colab.research.google.com/github/shoulhafiz/MANB1153/blob/master/customer_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df = pd.read_csv('Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [0]:
contract_X = df['Contract']
internet_X = df['InternetService']
churn_y = df['Churn']

In [0]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

enc.fit(contract_X)
encoded_contract_X = enc.transform(contract_X)

enc.fit(internet_X)
encoded_internet_X = enc.transform(internet_X)

enc.fit(churn_y)
encoded_churn_y = enc.transform(churn_y)
print(encoded_churn_y)

[0 0 1 ... 0 1 0]

In [0]:
import numpy as np
encoded_X = np.array([encoded_contract_X,encoded_internet_X])

In [0]:
encoded_df_X = pd.DataFrame(encoded_X).T
encoded_df_X.columns = ['Contract', 'Internet']
encoded_df_X.head()

   Contract  Internet
0         0         0
1         1         0
2         0         0
3         1         0
4         0         1

In [0]:
encoded_df_y = pd.DataFrame(encoded_churn_y)
encoded_df_y.columns = ['target']
encoded_df_y.head()

   target
0       0
1       0
2       1
3       0
4       1

In [0]:
churn_df = pd.concat([encoded_df_X, encoded_df_y], axis=1)
churn_df.head()

   Contract  Internet  target
0         0         0       0
1         1         0       0
2         0         0       1
3         1         0       0
4         0         1       1

In [0]:
train_data= churn_df[:-10]
test_data= churn_df[-10:]

train_input= train_data[['Contract', 'Internet']]
train_target = train_data['target']

test_input= train_data[['Contract', 'Internet']]
test_target = train_data['target']

In [0]:
#training
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(10, ), activation = 'relu',
                      solver='adam',verbose=0, random_state=1,
                     max_iter=500)
model.fit(train_input, train_target)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(10,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [0]:
y_pred = model.predict(test_input)
y_true= test_target

In [0]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_true,y_pred))
print("Root Mean Squared Error: {}".format(rmse))

Root Mean Squared Error: 0.4874363535654611

In [0]:
from sklearn.metrics import accuracy_score
racc = accuracy_score(y_true,y_pred)
print("Accuracy: ", racc)

Accuracy:  0.7624058012228068

In [0]:
from sklearn.metrics import confusion_matrix
rcm = confusion_matrix(y_true, y_pred)
print("Confusion Matrix: ", rcm)

Confusion Matrix:  [[4202  964]
 [ 707 1160]]